.comment {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #444444;
}

.commentText a {
    text-decoration: none;
    font-weight: 800;
    color: white;
}

.commentText a:hover {
    text-decoration: underline;
}

.commentText p {
    width: 100%;
    color: white;
    margin-bottom: 10px;
}

.commentText {
    width: 100%;
    padding: 1em;
    overflow: hidden;
}

.deleteComment {
    padding: 0.5em 1em;
    font-size: 16px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
}


.deleteComment:hover {
    background-color: red;
    color: white;
    border: 1px solid transparent;
}