.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #323131;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.3);
}

.logo {
    width: 20%;
}

.logo a {
    text-decoration: none;
}

.logo h1 {
    font-family: 'Pacifico', cursive;
    font-size: 8vmin;
    color: #C5E117;
}

.searchDiv {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.inputDiv {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.input {
    width: 100%;
    padding: 0.5em 0.2em;
    font-size: 16px;
    background-color: #272727;
    border: none;
    border-radius: 5px;
    color: white;
    padding-left: 0.5em;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

.inputButton {
    position: absolute;
    height: 100%;
    right: 0;
    background-color: #C5E117;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 0 1em;
    font-size: 16px;
}

.inputButton:hover {
    background-color: #dbfb0a;
}

.suggestionDiv {
    width: 100%;
    position: relative;
}

.suggestionItemDiv {
    position: absolute;
    width: 100%;
    cursor: pointer;
}

.suggestionItem {
    background-color: black;
    color: white;
    padding: 1em 0;
    padding-left: 1em;
    border-bottom: 1px solid white;
}

.suggestionItem:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.suggestionItem:hover {
    background-color: rgb(52, 51, 51);
    color: white;
    padding: 1em 0;
    padding-left: 1em;
}

.user {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user a {
    color: white;
    font-size: 16px;
    padding: 0.5em;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    text-decoration: none;
}

.user a:hover {
    text-decoration: underline;
}

.user button {
    border: none;
    border-radius: 5px;
    background-color: #272727;
    padding: 1em 1em;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.user button:hover {
    background-color: white;
    color: black;
}

@media (max-width: 770px) {

    .header div {
        margin-top: 10px
    }

    .logo {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .searchDiv {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .inputDiv {
        width: 90%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .inputDiv input {
        font-size: 16px;
    }

    .inputDiv button img {
        width: 20px;
        height: 20px;
    }

    .suggestionDiv {
        width: 90%;
        position: relative;
    }
    .user {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
    }

    .user p {
        font-size: 2vmax;
    }

    .user button {
        padding: 0.5em 0.5em;
    }
}
