.imageUploader {
    padding: 1em;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.imageContainer {
    width: 100%;
    height: 250px;
}

.image {
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid white;
    object-fit: fill;
}

.imageMessage {
    color: white;
}

.inputDiv {
    width: 100%;
}

.inputLabel {
    cursor: pointer;
    padding: 0.2em;
    color: white;
    font-size: 16px;
    width: 100%;
    display: block;
}

.inputLabel:hover {
    text-decoration: underline;
}

.fileInput {
    display: none;
}

.uploadButton {
    padding: 0.2em;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    background: none;
    font-size: 16px;
    margin-top: 10px;
}

.uploadButton:hover {
    background-color: #C5E117;
    border: 1px solid transparent;
    color: black;
}

@media (max-width: 780px) {
    .imageUploader {
        width: 100%;
    }
}
