.imageUploader {
    padding: 1em;
    width: 30%;
}

.image {
    max-width: 100%;
    max-height: 50%;
}

.imageMessage {
    color: white;
}

.inputDiv {
    width: 100%;
    margin-top: 20px;
}

.inputLabel {
    cursor: pointer;
    padding: 0.2em;
    border: 1px solid white;
    color: white;
    font-size: 16px;
    width: 100%;
    display: block;
}

.inputLabel:hover {
    background-color: #C5E117;
    border: 1px solid transparent;
    color: black;
}

.fileInput {
    display: none;
}

.uploadButton {
    padding: 0.2em;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    background: none;
    font-size: 16px;
    margin-top: 10px;
}

.uploadButton:hover {
    background-color: #C5E117;
    border: 1px solid transparent;
    color: black;
}

@media (max-width: 770px) {
    .imageUploader {
        width: 100%;
    }

    .image {
        max-width: 50%;
    }

    .inputLabel {
        width: 50%;
    }
}